.rating {
	display: initial;
	background-color: white;
	padding: 5px;
	border-radius: 5px;
	margin: 0.5rem;
	padding-left: 0.5rem;
	border: 2px
}

.current-rating {
	background-color: lightgrey;
	margin-left: 0.5rem;
	padding: 2px;
	padding-left: 4px;
	border-radius: 5px;
}

