.player img {
	width: auto;
  height: auto;
	max-height: 12rem;
}

.spec-container {
	position: relative;
	text-align: center;
	color: white;
}

.bottom-right {
	background-color: rgba(0, 0, 0, 1);
}

a {
	color: black;
  text-decoration: none; /* no underline */
}

a:hover {
	color: black;
  text-decoration: none; /* no underline */
}

.list-group-item {
/*	background-color: lightgray;*/
}

.rating {
	display: initial;
	background-color: white;
	padding: 4px;
	border-radius: 5px;
	margin: 0.5rem;
	padding-left: 0.5rem;
	border: 2px
}

.current-rating {
	background-color: lightgrey;
	margin-left: 0.5rem;
	padding: 2px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
