.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    padding: 20px;
}

#formContent {
    width: 50%;
    max-width: 350px;
    min-width: 300px;
    padding: 0px;
    z-index: 1;
}

.card-body-form {
    padding: 2rem !important
}

.card-login-form {
    border: 0px !important
}

.form-login {
    background-color: #EDEDED;
    border-radius: 15px;
    border-color: #d2d2d2;
    border-width: 5px;
}
